// base colors
$black: #2E2E2E
$gray: #6C6C6C
$silver: #B4B4B4
$red: #E34461
$blue: #7CB1F5
$orange: #E8AF54
$white: #F7F7F7
$green: #5ED0C9
$yellow: #F2FB9D

// global
$bg-color: $white

// typography
$text-color: $gray
$h1-color: $black
$h2-color: $black
$h3-color: $black
$text-color--accent: $red

// navbar
$navbar-text-color: $black
$navbar-text-color--hover: $gray
$navbar-text-color--active: $red
$navbar-bg-color: white
$navbar-logo-color: $red
$navbar-border-color: $white

// product
$product-bg-color: white
$product-name-color: $black
$product-description-color: $gray
$product-price-color: $gray
$product-price-color--discount: $red
$product-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2)
$product-empty-color: $silver

// department
$department-bg-color: #484848
$department-text-color: #ffffff
$department-shadow: inset 20px 20px 40px rgba(0,0,0,0.1), inset -70px -60px 210px rgba(0,0,0,0.3)
$department-theme-bg-color--1: rgba(160, 84, 0, 0.6)
$department-theme-bg-image--1: '/assets/img/banners/street.jpg'
$department-theme-bg-color--2: rgba(130, 0, 228, 0.52)
$department-theme-bg-image--2: '/assets/img/banners/sport.jpg'
$department-theme-bg-color--3: rgba(0, 154, 156, 0.68)
$department-theme-bg-image--3: '/assets/img/banners/casual.jpg'
$department-theme-bg-color--4: rgba(173, 130, 0, 0.58)
$department-theme-bg-image--4: '/assets/img/banners/fancy.jpg'

// search
$search-text-color: $black
$search-bg-color: #ffffff
$search-border-color: #e1e1e1
