@import '../config'

[class^="icon-"]
  display: inline-block
  width: 20px
  height: 20px
  background: url('/assets/img/icons@2x.png')
  background-size: 280px 88px
  vertical-align: middle

=icon($row, $col)
  background-position-x: (1-$col)*20px
  background-position-y: (1-$row)*20px

.icon-search
  +icon(2, 13)
i.icon-box
  +icon(2, 4)
i.icon-card
  +icon(2, 3)
i.icon-close
  +icon(1, 1)
i.icon-close-alt
  +icon(2, 1)
i.icon-email
  +icon(1, 6)
i.icon-grid
  +icon(1, 9)
i.icon-minus
  +icon(1, 11)
i.icon-person
  +icon(1, 13)
i.icon-bag
  +icon(1, 2)
i.icon-check
  +icon(2, 6)
i.icon-comment
  +icon(1, 3)
i.icon-filter
  +icon(2, 5)
i.icon-heart
  +icon(1, 7)
i.icon-list
  +icon(1, 8)
i.icon-mirror
  +icon(2, 2)
i.icon-plus
  +icon(1, 14)
i.icon-bookmark
  +icon(1, 5)
i.icon-calendar
  +icon(1, 4)
i.icon-up
  +icon(2, 9)
i.icon-right
  +icon(2, 10)
i.icon-down
  +icon(2, 11)
i.icon-left
  +icon(2, 12)
i.icon-lock
  +icon(1, 10)
i.icon-more
  +icon(1, 12)
i.icon-star
  +icon(2, 7)
i.icon-star-on
  +icon(2, 8)
i.icon-burger, i.icon-back, i.icon-forward
  width: 32px
  height: 24px
  background-position-y: -40px
i.icon-back
  background-position-x: -32px
i.icon-forward
  background-position-x: -64px
i.icon-x-close, i.icon-x-close-alt
  width: 24px
  height: 24px
  background-position-y: -64px
i.icon-x-close-alt
  background-position-x: -24px