nav
  
  .wrap('(click)'="this.mobileMenuOpen = false")
    ul.branding
      li
        a.logo([routerLink]="'/'") Shopmate

    ul.departments([ngClass]='{open: mobileMenuOpen}')
      li(*ngFor="let department of departments$ | async")
        a([routerLink]="[department.department_id, department.name | permalink]" routerLinkActive="active") {{ department.name }}

    ul.tools
      li
        a.icon-search(href="#")
      li
        a.icon-bag(href="#")
  
  a.icon-back('[routerLink]'="'/'" routerLinkActive="hidden" '[routerLinkActiveOptions]'="{exact: true}" '(click)'="this.mobileMenuOpen = false")
  .icon-burger(*ngIf='!mobileMenuOpen' '(click)'='mobileMenuOpen=true')
  .icon-x-close-alt(*ngIf='mobileMenuOpen'  '(click)'='mobileMenuOpen=false')