img(src="/assets/img/products/{{product.thumbnail}}")
.name {{product.name}}
.description(routerLink="/product/{{product.name | permalink}}-{{product.product_id}}")
  p {{product.description}}
.price('[class.discount]'="product.discounted_price * 1")
  span ${{product.price}}
  strong ${{product.discounted_price}}