app-navbar

.wrap
  h2.title Typography

  h1 The quick
  h2 The quick brown fox jumps
  h3 The quick brown fox jumps over the lazy
  p The quick brown fox jumps over the lazy dog
  small The quick brown fox jumps over the lazy dog

  h2.title Icons

  | search
  i.icon-search
  br
  | back
  i.icon-back
  br
  | box
  i.icon-box
  br
  | card
  i.icon-card
  br
  | close
  i.icon-close
  br
  | email
  i.icon-email
  br
  | grid
  i.icon-grid
  br
  | minus
  i.icon-minus
  br
  | person
  i.icon-person
  br
  | x-close
  i.icon-x-close
  br
  | bag
  i.icon-bag
  br
  | burger
  i.icon-burger
  br
  | check
  i.icon-check
  br
  | comment
  i.icon-comment
  br
  | filter
  i.icon-filter
  br
  | heart
  i.icon-heart
  br
  | list
  i.icon-list
  br
  | mirror
  i.icon-mirror
  br
  | plus
  i.icon-plus
  br
  | bookmark
  i.icon-bookmark
  br
  | calendar
  i.icon-calendar
  br
  | close-alt
  i.icon-close-alt
  br
  | forward
  i.icon-forward
  br
  | lock
  i.icon-lock
  br
  | more
  i.icon-more
  br
  | up
  i.icon-up
  br
  | right
  i.icon-right
  br
  | down
  i.icon-down
  br
  | left
  i.icon-left
  br
  | star
  i.icon-star
  br
  | star-on
  i.icon-star-on
  br
  | x-close-alt
  i.icon-x-close-alt