form('[ngClass]'="{compact: !searchQuery && !focused}")
  input(#searchInput type="text" '[value]'="searchQuery")
  i.icon-search('(click)'="search()")
  i.icon-close('(click)'="reset()" '*ngIf'="!!searchQuery")